
.sidebar {
  position: fixed;
  top: 50px; 
  left: 0;
  width: 60px;
  height: calc(100% - 50px); 
  background-color: #111;
  color: white;
  transition: width 0.3s ease;
  overflow-x: hidden;
  
  padding-top: 10px;
 
}

.sidebar:not(.collapsed) {
  width: 250px;
}


.menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  width: 100%;
}

.menu li a,
.menu li button {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.menu li a:hover,
.menu li button:hover {
  background-color: #333;
}


.toggle-btn {
  position: absolute;
  top: 10px;
  left: 15px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.logout-btn {
  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
